<h1>Set System Parameter</h1>

<div class="content_block">
	[% form.render | none %]

    <div class="templates">
        <textarea name="value" class="js-value-multi">[% value %]</textarea>
        <textarea name="value_json" class="js-value-json">[% value_raw %]</textarea>
        <input type="text" name="value" class="js-value-string" value="[% value %]"/>
    </div>
</div>

